body{
background-color: blue;
};

h1
{
    color: red;
}

span{
    color: red;
}

p{
    color:turquoise ;
}

#india{
 background-color: orange;
  
}

#usa{
    background-color: orangered;
     
   }

   #nz{
    background-color: lightcoral;
     
   }

 
 #ze{
    width: 300px;

    height: 200px;
 
    transform: rotate(10deg);

      float: left;

      margin-left: 40px;
 }

 #te{
    width: 300px;

    height: 300;
 
    transform: rotate(-10deg);

      float: right;

      margin-right: 5px;
 }

 #ze:hover{
    transform: scale(1.5);
 }

 #te:hover{
    transform: scale(1.5);
 }